*{
    padding:0;
    margin:0;
    /*-webkit-border-radius: 0 !important;*/
    /*-moz-border-radius: 0 !important;*/
    /*border-radius: 0 !important;*/
}

body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input,label{
    margin: 0
}
img {
    border: none
}
input, button, textarea, select {
    *font-size: 100%;
    border: none;
}
body {
    font-family: Microsoft YaHei, SimSun, Arial !important;
}
ul, ol {
    list-style: none;
    padding: 0
}
.dis-inlblock{
    display:inline-block;
}
a,a:hover,a:link, a:visited {
    text-decoration: none;
}
.border-right{
    border-right:1px solid #8d91a1;
}
.color-blue{
    color: #78bef9!important;
}
.color-green{
    color: #59bd01!important;
}
.color-red{
    color: #ff3300!important;
}
.color3{
    color: #333!important;
}
.color4{
    color: #cccccc!important;
}
.text-indent{
    text-indent:2em;
}
.mt10{
    margin-top:10px;
}
.mt15{
    margin-top:15px;
}
.mt130{
    margin-top:130px!important;
}
.mt100{
    margin-top:100px!important;
}
.mt25{
    margin-top:25px!important;
}
.mt40{
    margin-top: 40px!important;
}
.mt60{
    margin-top: 60px!important;
}
.button{
    background-color: #76cdf8;
    border:none;
    color: #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    /*display: block;*/
    text-align: center;
    outline:none;
}
.layer{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
.line-middle{
    text-decoration:line-through;
}
.with-line{
    width:300px;
    font-size: 16px;
    color: #999;
    margin: 0 auto;
    position: relative;
    text-align: center
}
.with-line:before {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 60px;
    top: 10px;
    left: 0
}
.with-line:after {
    content: "";
    border-top: 1px solid #ededed;
    display: block;
    position: absolute;
    width: 60px;
    top: 10px;
    right: 0
}

