<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>页面2</title>
	  <script src="js/rem.js"></script>
	<link href="css/common.css" rel="stylesheet"/>
	<link href="css/pag_one.css" rel="stylesheet"/>
	
</head>
<style type="text/css">
<!--
html,body {height:100%; margin:0px; font-size:12px;
}
.mydiv {
background-color: #f6f6f6;
border: 1px solid #fff;
text-align: center;
line-height: 40px;
font-size: 12px;
font-weight: bold;
z-index:999;
width: 300px;
height: 280px;
left:50%;
top:50%;
margin-left:-150px!important;/*FF IE7 该值为本身宽的一半 */
margin-top:-60px!important;/*FF IE7 该值为本身高的一半*/
margin-top:0px;
position:fixed!important;/* FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}
.bg,.popIframe {
background-color: #666; display:none;
width: 100%;
height: 100%;
left:0;
top:0;/*FF IE7*/
filter:alpha(opacity=50);/*IE*/
opacity:0.5;/*FF*/
z-index:1;
position:fixed!important;/*FF IE7*/
position:absolute;/*IE6*/
_top:       expression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
}
.popIframe {
filter:alpha(opacity=0);/*IE*/
opacity:0;/*FF*/
}
-->
</style>
<script language="javascript" type="text/javascript">
function showDiv(){
document.getElementById('popDiv').style.display='block';
document.getElementById('popIframe').style.display='block';
document.getElementById('bg').style.display='block';
}
function closeDiv(){
document.getElementById('popDiv').style.display='none';
document.getElementById('bg').style.display='none';
document.getElementById('popIframe').style.display='none';
}
</script>
<body>
	<div class="content_main">
		<div class="con_bt">
			Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态
		</div>
		<div class="time_dl">
			<dl>
				<dt>2016-07-12</dt>
				<dd>Sagmeister & Walsh 杂志</dd>
			</dl>
		</div>
		<div class="bg_img">
		    <img src="images/img_a.png">
		    <p>santa Maria degli Angeli Chapel</p>
		    <p>建筑师：马里奥博塔</p>
		</div>
		<div class="wena">
			Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态
		</div>

		<div class="first_region">
		    <span class="line_h"></span>
		    <p class="line_bottom"></p>
			<p>山舍丨秋山广玉兰树叶盘原创手工木制点心盘子</p>
			<div class="f_text">
				<dl>
					<dt>商品编码：HD2391834</dt>
					<dd>商品价格：<span>￥238.23</span></dd>
				</dl>
			</div>
		</div>
		<!--<div class="bgtp">-->
			<!--<img src="images/ing_mb_1_03.jpg">-->
			<!--<p>Sagmeister & Walsh 2012版办公室</p>-->
		<!--</div>-->
		<!--<div class="bgtp">-->
			<!--<img src="images/ing_mb_1_07.jpg">-->
			<!--<p>Sagmeister & Walsh 2012版办公室</p>-->
		<!--</div>-->
		<!--<div class="bgtp">-->
			<!--<img src="images/ing_mb_1_10.jpg">-->
			<!--<p>Sagmeister & Walsh 2012版办公室</p>-->
		<!--</div>-->
		<p class="dic_border"></p>
		<table border="1" class="tables" style="width:100%;border:#fff 1px solid;">
		  <tr>
		    <td style="padding: 2px;"><img src="images/img_1.png"></td>
		    <td><img src="images/img_2.png"></td>
		    <td><img src="images/img_1.png"></td>
		    <td>&nbsp;</td>
		  </tr>
		   <tr>
		    <td><img src="images/img_1.png"></td>
		    <td colspan = "2" class="hebin"><span class="mode_ing">更多图片</span></td>
		    <td><img src="images/img_2.png"></td>
		  </tr>
		</table>
       <!--  产品规格详细参数 -->
       
        <div>
            <img src="images/img_3.png" style="width:100%;margin-top:2%;">
        	<!-- <p class="mt20 text_center">产品详细规格参数</p> -->
        	<div class="wena">
			Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态Sagmeister & Walsh 这次又搞了个大新闻！24小时全球直播工作室状态
		</div>
        </div>
        <div class="bgtp">
			<img src="images/ing_mb_1_14.jpg">
		</div>
		<!--<div class="bgtp">-->
			<!--<img src="images/tjyd_18.png">-->
		<!--</div>-->
		<!--<div class="mt20s">-->
		<!--<div class="recommended">-->
			<!--<dl>-->
				<!--<dt><img src="images/reaned_1_22.jpg"></dt>-->
				<!--<dd>他1942年设计的房子，被模仿了无数遍，至今依然被奉-->
<!--为先锋之作</dd>-->
			<!--</dl>-->
		<!--</div>-->
		<!--<div class="recommended">-->
			<!--<dl>-->
				<!--<dt><img src="images/reaned_1_29.png"></dt>-->
				<!--<dd>土壕都说大理石才是真正的奢华，安藤忠雄笑了~~</dd>-->
			<!--</dl>-->
		<!--</div>-->
		<!--<div class="recommended">-->
			<!--<dl>-->
				<!--<dt><img src="images/reaned_1_25.jpg"></dt>-->
				<!--<dd>Issey Miyake Homme Plissé-->
<!--为先锋之作</dd>-->
			<!--</dl>-->
		<!--</div>-->
       <!--</div>-->
        <div class="pictur_img">
            <ul>
            	<li ><img src="images/ing_mb_1_10.jpg" class="ml_0" style="margin-right:10px;"></li>
            	<li><img src="images/ing_mb_1_18.jpg" style="margin:0px;"></li>
            </ul>
         </div>
         <div>
         	<p class="the_bt"><img src="images/line_bus.png" class="line-bus">本文销售：卡西莫多<img src="images/line_bus.png" class="line-bus"></p>
            <p class="the_subs">每天任性更新，欢迎关注！微信ID：kaxmodo</p>
         </div>

         <!-- 分享 -->
         <div class="share">
         	<ul>
         		<li style="border-right:#fff 1px solid;"><img src="images/ing_mb_1_22.jpg"><span class="ziys">35</span></li>
                <li><img src="images/ing_mb_1_25.png"><span class="ziys">35</span></li>
                <li style="border-left:#fff 1px solid;"><img src="images/ing_mb_1_28.jpg"><span class="ziys">35</span></li>
         	</ul>

         </div>
        <!--  精彩评论 -->
        <div class="more_excitinge">
		    <p class="jctjs">精彩评论</p>
		    <div class="comment_s">
		    	<ul>
		    		<li><img src="images/x_z_1_48.png"></li>
		    		<li><img src="images/x_z_1_50.png"></li>
		    		<li><a href="javascript:showDiv()"><img src="images/x_z_1_52.png"></a></li>
		    	</ul>
		    </div>
		</div>
		<!-- 评论列表 -->
		<div class="comment_list">
			<ul>
				<li>
					<div class="list_one">
						<dl>
							<dt><img src="images/reaned_1_22.jpg"></dt>
							<dd>
								<div class="pl_stys">
								   <p class="styls_left" >grace姐姐</p>
								   <p class="styls_right">1楼</p>
								   <p class="jcpl">精彩评论精彩评论精彩评论精彩评论精彩评论精彩评论精彩评论</p>
								</div>
								<p class="styls_left" >一个小时</p>
								<div class="pl_name">
									<ul>
										<li><img src="images/dz_mb_1_48.png" class="a_d_three"><span class="pl_sty">66</span></li>
							    		<li><img src="images/dz_mb_1_50.png" class="a_d_three"><span class="pl_sty">66</span></li>
							    		<li><a href="javascript:showDiv()"><img src="images/dz_mb_1_52.png" class="a_d_three"></a><span class="pl_sty"></span></li>
									</ul>
								</div>
                            </dd>
						</dl>
					</div>

				</li>
				<li>
					<div class="list_one">
						<dl>
							<dt><img src="images/reaned_1_22.jpg"></dt>
							<dd>
								<div class="pl_stys">
								   <p class="styls_left" >grace姐姐</p>
								   <p class="styls_right">1楼</p>
								   <p class="jcpl">精彩评论精彩评论精彩评论精彩评论精彩评论精彩评论精彩评论</p>
								</div>
								<div class="comment_picture">
									<ul>
										<li><img src="images/img_2.png"></li>
										<li><img src="images/img_2.png"></li>
										<li><img src="images/img_2.png"></li>
										<li><img src="images/img_2.png"></li>
									</ul>
								</div>
								<p class="styls_left" >一个小时</p>
								<div class="pl_name">
									<ul>
										<li><img src="images/dz_mb_1_48.png" class="a_d_three"><span class="pl_sty">66</span></li>
							    		<li><img src="images/dz_mb_1_50.png" class="a_d_three"><span class="pl_sty">66</span></li>
							    		<li><a href="javascript:showDiv()"><img src="images/dz_mb_1_52.png" class="a_d_three"></a><span class="pl_sty"></span></li>
									</ul>
								</div>
								<!-- 评论回复 -->
								<div class="comment_reply">
									<p><span class="bt_name">张三：</span>这个可以有！</p>
									<p><span class="bt_name">张三：</span>这个可以有！</p>
								</div>
                            </dd>
						</dl>
					</div>

				</li>
				<li>
					<div class="list_one">
						<dl>
							<dt><img src="images/reaned_1_22.jpg"></dt>
							<dd>
								<div class="pl_stys">
								   <p class="styls_left" >grace姐姐</p>
								   <p class="styls_right">1楼</p>
								   <p class="jcpl">精彩评论精彩评论精彩评论精彩评论精彩评论精彩评论精彩评论</p>
								</div>
								<p class="styls_left" >一个小时</p>
								<div class="pl_name">
									<ul>
										<li style="border-bottom:#fff 1px solid;"><img src="images/dz_mb_1_48.png" class="a_d_three"><span class="pl_sty">66</span></li>
							    		<li><img src="images/dz_mb_1_50.png" class="a_d_three"><span class="pl_sty">66</span></li>
							    		<li><a href="javascript:showDiv()"><img src="images/dz_mb_1_52.png" class="a_d_three"></a><span class="pl_sty"></span></li>
							    		<li>
							    			
							    			<div id="popDiv" class="mydiv" style="display:none;">
							    			 <a href="javascript:closeDiv()" style="float:right;"><img src="images/cuo_img.png" class="cuo_pd" style="margin-top: -18px;margin-right: -2px;"></a>
							    			<div class="more_exciting">
											    <p class="jctj">精彩评论</p>
											    <p class="the_suns">土豪说大理石才是真正的奢华</p>
											    <div class="show_sc">
											    	<ul>
											    		<li><img src="images/img_1.png" style="width: 5rem;height: 5rem;"></li>
                                                        <li><img src="images/changk.png" style="width: 5rem;height: 5rem;"></li>
											    	</ul>
											    </div>
											    <div class="denglu_impor">
											       <ul>
											       		<li>
											       			<p>您的手机</p>
											       			<img src="images/dianhau1.png" style="width: 25px;position: absolute; left: 10px; padding-top: 7px;">
											       			<input type="text" name="fname" class="imput_p"/>
											       			<span class="logien">修改</span>

											       		</li>
											       </ul>
											     </div>
											     <div class="denglu_impor">
											       <ul>
											       		<li>
											       			<p>您的手机</p>
											       			<img src="images/bags_2.png" style="width: 25px;position: absolute; left: 10px; padding-top: 7px;">
											       			<input type="text" name="fname" class="imput_p"/>
											       			<span class="logien">登录</span>

											       		</li>
											       </ul>
											     </div>
											</div>

											      
											</div>
											<div id="bg" class="bg" style="display:none;"></div>
											<iframe id='popIframe' class='popIframe' frameborder='0' ></iframe>
							    		</li>
									</ul>
								</div>
                            </dd>
						</dl>
					</div>
					
				</li>
			</ul>

		</div>
<!-- <p class="mt20 text_center">第二部分</p> -->
		
	</div>
</body>
</html>