*{
  margin:0;
  padding:0;
}
header{
  position: relative;
  height:3rem;
  line-height:3rem;
  background-color:#1c1c1c;
  text-align:center;
}
header>a,header>span{
  color: #ffffff;
  font-size:.75rem;
}
.avatar{
  float: left;
  margin-left:7%;
  width:2.1rem;
  height:2.1rem;
  margin-top:.4rem;
}
.avatar img{
  width:100%;
  height:100%;
}
.add{
  float: right;
  margin-right:7%;
  width:.85rem;
  height:.85rem;
  background:url("../images/icon-add.png") no-repeat 0 0;
  background-size:100% 100%;
  margin-top:1rem;
}
.product h3{
  background-color:#22c064;
  height:1.05rem;
  line-height:1.05rem;
  color: #FFFFFF;
  font-size:.6rem;
  padding-left:5%;
}
.product ul li{
   padding-left:5%;
   height:2.65rem;
   line-height:2.65rem;
   border-bottom:1px solid #c2c2c2;
}
.product ul li.active{
  background-color:#f3f3f3;
}
.product a{
  display:block;
  color: #3e3a39;
  font-size:.75rem;
}
.product-wrapper{
  padding-bottom:2.5rem;
}
.product-wrapper a{
  padding-left:9%;
}
.product a.icon-promote{
  background:url("../images/icon-promote.png") no-repeat 0 center;
  background-size:1.25rem 1.35rem;
}
.product a.icon-order-process{
  background:url("../images/icon-order-process.png") no-repeat 0 center;
  background-size:1.2rem .95rem;
}
.product a.icon-offline-activity{
  background:url("../images/icon-offline-activity.png") no-repeat 0 center;
  background-size:1.125rem .975rem;
}
.product a.icon-online-guide{
  background:url("../images/icon-online-guide.png") no-repeat 0 center;
  background-size:1.075rem 1.05rem;
}
.product a.icon-membership{
  background:url("../images/icon-membership.png") no-repeat 0 center;
  background-size:1.25rem 1.05rem;
}
.product a.icon-member-service{
  background:url("../images/icon-member-service.png") no-repeat 0 center;
  background-size:1.2rem 1.1rem;
}
.product a span{
  float: right;
  margin-right:5%;
  background-color:#22c064;
  border-radius:50%;
  color: #FFFFFF;;
  height:1rem;
  line-height:1rem;
  font-size:.5rem;
  text-align:center;
  margin-top:.7rem;
  padding:0 .4rem;
}
/*41 1.025*/
/*43 1.075*/
/*45 1.125*/
/*46 1.15*/
/*33  .825*/
/*39 .975*/
/*50   1.25*/
/*54   1.35*/
/*48    1.2*/
/*38    .95*/
