<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号登录</title>
    <link rel="stylesheet" href="../_common/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../_common/css/common.css">
    <link rel="stylesheet" href="../_common/css/style.css">
</head>

<body>
<div class="header">
    <div class="navbar navbar-default">    <!--navbar-fixed-top-->
        <div class="container rebuild">
            <div class="navbar-header">
                <img src="../_common/images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">首页</a></li>
                    <li  class="active"><a href="find-π.html">发现派装</a></li>
                    <li><a href="full-suit.html">精致的一致全包套装</a></li>
                    <li><a href="select-foreman.html">找工长</a></li>
                    <li><a href="#">找设计师</a></li>
                    <li><a href="inspiration-img.html">灵感图片</a></li>
                </ul>
                <div class="pull-right login-register">
                    <a href="#" class="login-btn" id="login-btn">登录/注册</a>
                    <div class="alert-login" id="alert-login">
                        <ul>
                            <li class="icon-small1"><a>个人中心</a></li>
                            <li class="icon-small2"><a>我的订单</a></li>
                            <li class="icon-small3"><a>我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <img src="../component/images/find-banner.jpg">
</div>
<div class="text-image-set container rebuild">
    <div class="row show-grid floor floor01">
        <div  class="col-lg-5">
            <img src="images/π01.png">
        </div>
        <div  class="col-lg-7">
            <h4>All In One精致划算的一价全包产品</h4>
            <p>--- “我讨厌选择恐惧症，我要生活更简单。我不要粗陋设计，尊重家中每个人。”
                选择一价全包，是为了省心得到好品质，不是为了低价的噱头牺牲生活品质。
                由此我们精选主材用心设计。对我们来说家居生活和服装一样，搭配是精髓。
                为了帮你做简单的选择，我们反复推敲美的细节，打包了细心与关爱。</p>
            <a>发现All In One一价全包家装套餐</a>
        </div>
    </div>
    <div class="row show-grid floor floor02">
        <div  class="col-lg-7">
            <h4>Decor Market 家装超市</h4>
            <p>--“让工人做手艺，让设计师做设计。没有家装公司的行政开支房屋租金成本，
                让家庭装修装饰恢复它应有的简单模样”
                派装的创始人薛猛如是说。经历了太多的所谓“免费设计”“合同陷阱”，我们
                为你剪掉了所有的中间环节让你直接对接手艺人，严格监管要求服务者按照标准
                服务。在这里没有套路只有真诚，你可以单选择工长进行施工，也可以选个设计
                师为你个性化设计，一切在你选择。</p>
            <a>Find Professionals找工长</a>
            <a>Find Designers找设计师</a>
        </div>
        <div  class="col-lg-5">
            <img src="images/π02.png">
        </div>
    </div>
    <div class="row show-grid floor floor01">
        <div  class="col-lg-5">
            <img src="images/π03.png">
        </div>
        <div  class="col-lg-7">
            <h4>灵感画册 Ideas</h4>
            <p>当然，在这里我们收集了数以万计的家庭装饰美图，帮助点亮你的世界。
                更有家庭装修装饰的干货文章让你快速了解装修装饰和选材的技巧。你可以收
                藏他们，也可以把你收集的灵感告诉设计师。我们崇尚美，尊重好品味，拒绝
                一成不变，因为
                平庸生活充满恶意，稍不留神就会跌入深渊。
                用餐时的贴心陈设，阳光旁的温馨露台，哪怕是一抹亮色，都是对抗美学。
                生活不是一成不变，需要的是无限惊喜</p>
            <a>Find More更多</a>
        </div>
    </div>
    <div class="row show-grid floor floor02">
        <div  class="col-lg-7">
            <h4>D.O您的托管式家装顾问</h4>
            <p>D.O团队拥有派标专用工具箱，从主材小样到量房工具，从严苛的验房表格
                到4阶段160余项施工管控标准化模型。细微之处诠释着派装精神。
                派装标准*=完美设计套件+标准化施工+数据式验收。
                D.O团队上门服务按照独创流程帮助用户一小时内选取心仪的方案，环保主
                材所见即所得，公司午休时间搞定家装大事。
                托管式管理，无缝的项目对接，让您通过微信在异地实时监控工程进度。</p>
        </div>
        <div  class="col-lg-5">
            <img src="images/π04.png">
        </div>
    </div>
</div>
<div class="footer">
    <div class="navbar navbar-inverse">    <!---navbar-fixed-bottom-->
        <div class="container rebuild">
            <div class="row show-grid">
                <div class="col-lg-8">
                    <div class="footer—logo pull-left">
                        <img src="../_common/images/footer-logo.png">
                    </div>
                    <div class="footer-tips pull-left">
                        <p class="first-tips"><a>了解我们</a><a>加入我们</a><a class="last">样板间用户招募</a></p>
                        <p class="second-tips"><i>北京派装科技有限公司</i><label>地址：</label><span>北京市北苑东路中国铁建广场Ｄ座５层</span></p>
                        <p class="third-tips"><label>电话：</label><span>010-53565632</span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../_common/images/info.png" class="info-qrcode">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../_common/scripts/jquery.js"></script>
<script src="../_common/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../_common/scripts/common.js"></script>
</body>

</html>