<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号登录</title>
    <link rel="stylesheet" href="../_common/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="dist/_common/css/common.min.css">-->
    <link rel="stylesheet" href="../_common/css/style.css">
    <link rel="stylesheet" href="../_common/css/common.css">
</head>

<body>
<div class="header">
    <div class="navbar navbar-default">    <!--navbar-fixed-top-->
        <div class="container rebuild">
            <div class="navbar-header">
                <img src="../_common/images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../../index.html">首页</a></li>
                    <li><a href="find-π.html">发现派装</a></li>
                    <li><a href="full-suit.html">精致的一致全包套装</a></li>
                    <li><a href="select-foreman.html">找工长</a></li>
                    <li><a href="find-designer.html">找设计师</a></li>
                    <li><a href="#">灵感图片</a></li>
                </ul>
                <div class="pull-right login-register">
                    <a href="#" class="login-btn" id="login-btn">登录/注册</a>
                    <div class="alert-login" id="alert-login">
                        <ul>
                            <li class="icon-small1"><a>个人中心</a></li>
                            <li class="icon-small2"><a>我的订单</a></li>
                            <li class="icon-small3"><a>我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="find-panel">
    <a class="icon-find01">找设计师</a>
    <a class="icon-find02">找工长</a>
</div>
<div class="container rebuild">
    <div class="search-panel">
        <div class="search-style">
            <div class="inspire-style active">
                <img src="../_common/images/style01.png">
                <span>所有风格</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style02.png">
                <span>现代</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style03.png">
                <span>简约</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style04.png">
                <span>北欧</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style05.png">
                <span>混搭</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style06.png">
                <span>田园</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style07.png">
                <span>地中海</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style08.png">
                <span>欧式</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style09.png">
                <span>简殴</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style10.png">
                <span>美式</span>
            </div>
            <div class="inspire-style">
                <img src="../_common/images/style11.png">
                <span>中式</span>
            </div>
            <div class="inspire-style last">
                <label>更多风格</label>
            </div>
        </div>
        <div class="search-common">
            <div class="style-left"><span>空间</span></div>
            <div class="style-right">
                <a href="javascript:;">更多</a>
            </div>
            <div class="style-middle">
                <span>客厅</span>
                <span>卧室</span>
                <span>厨房</span>
                <span>餐厅</span>
                <span>卫浴间</span>
                <span>衣帽间</span>
                <span>书房</span>
                <span>儿童房</span>
                <span>男孩房</span>
                <span>女孩房</span>
                <span>婴儿房</span>
                <span>玄关</span>
                <span>阳台</span>
                <span>阳台</span>
                <span>阳台</span>
                <span>阳台</span>
                <span>阳台</span>
            </div>
        </div>
        <div class="search-common">
            <div class="style-left"><span>局部</span></div>
            <div class="style-right">
                <a href="javascript:;">更多</a>
            </div>
            <div class="style-middle">
                <span>飘窗</span>
                <span>榻榻米</span>
                <span>隔断吧台</span>
                <span>马赛克</span>
                <span>岛台</span>
                <span>墙砖</span>
                <span>木地板</span>
                <span>地砖</span>
                <span>吊顶</span>
                <span>浴缸</span>
                <span>木质</span>
                <span>大理石</span>
            </div>
        </div>
        <div class="search-common">
            <div class="style-left"><span>装饰</span></div>
            <div class="style-right">
                <a href="javascript:;">更多</a>
            </div>
            <div class="style-middle">
                <span>电视背景墙</span>
                <span>沙发背景墙</span>
                <span>床头背景墙</span>
                <span>背景墙</span>
                <span>照片墙</span>
                <span>窗帘</span>
                <span>搁架</span>
                <span>壁纸</span>
                <span>装饰面</span>
                <span>绿植</span>
                <span>花艺</span>
                <span>布艺</span>
                <span>地毯</span>
                <span>抱枕</span>
            </div>
        </div>
        <div class="search-common">
            <div class="style-left"><span>家居</span></div>
            <div class="style-right">
                <a href="javascript:;">更多</a>
            </div>
            <div class="style-middle">
                <span>电视柜</span>
                <span>鞋柜</span>
                <span>储物柜</span>
                <span>梳妆台</span>
                <span>书柜</span>
                <span>餐桌</span>
                <span>餐边柜</span>
                <span>床</span>
                <span>床头柜</span>
                <span>茶几</span>
                <span>沙发</span>
                <span>衣柜橱柜</span>
                <span>书桌</span>
                <span>儿童床</span>
                <span>婴儿床</span>
                <span>浴室柜</span>
            </div>
        </div>
        <div class="search-common">
            <div class="style-left"><span>主题</span></div>
            <div class="style-right">
                <a href="javascript:;">更多</a>
            </div>
            <div class="style-middle">
                <span>储物收纳</span>
                <span>宜家</span>
                <span>创意家居</span>
                <span>DIY</span>
                <span>婚房</span>
                <span>空间利用</span>
                <span>改造旧房</span>
                <span>改造</span>
                <span>智能家居</span>
                <span>多肉植物</span>
                <span>LOFT</span>
                <span>色彩搭配</span>
            </div>
        </div>
        <div class="search-common">
            <div class="style-left"><label>已选分类:</label></div>
            <div class="style-middle">
                <a href="javascript:;">新古典<i>×</i></a>
                <a href="javascript:;">红色<i>×</i></a>
                <a href="javascript:;">餐桌<i>×</i></a>
            </div>
        </div>
    </div>
    <div class="search-image">
        <div class="search-color">
            <strong>灵感图片</strong>
            <label>
                <input type="checkbox">
                只显示搭配
            </label>
            <span class="color-bg1"></span>
            <span class="color-bg2"></span>
            <span class="color-bg3"></span>
            <span class="color-bg4"></span>
            <span class="color-bg5"></span>
            <span class="color-bg6"></span>
            <span class="color-bg7"></span>
            <span class="color-bg8"></span>
            <span class="color-bg9"></span>
            <span class="color-bg10"></span>
            <span class="color-bg11"></span>
            <span class="color-bg12"></span>
            <ul id="myTab" class="nav nav-tabs pull-right">
                <li class="active"><a href="#hot" data-toggle="tab">热门</a></li>
                <li><a href="#new" data-toggle="tab">最新</a></li>
            </ul>
        </div>
        <div class="image-decorate">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="hot">
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                            <span class="favor"></span>
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="../_common/images/inspire2.png">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="new" style="background-color: yellow;height:600px;color: #000;">
                    <p>最新</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="navbar">    <!---navbar-fixed-bottom-->
        <div class="container rebuild">
            <div class="row show-grid">
                <div class="col-lg-8">
                    <div class="footer—logo pull-left">
                        <img src="../_common/images/footer-logo.png">
                    </div>
                    <div class="footer-tips pull-left">
                        <p class="first-tips"><a>了解我们</a><a>加入我们</a><a class="last">样板间用户招募</a></p>
                        <p class="second-tips"><i>北京派装科技有限公司</i><label>地址：</label><span>北京市北苑东路中国铁建广场Ｄ座５层</span></p>
                        <p class="third-tips"><label>电话：</label><span>010-53565632</span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../_common/images/info.png" class="info-qrcode">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../_common/scripts/jquery.js"></script>
<script src="../_common/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../_common/scripts/common.js"></script>

</body>

</html>