<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号登录</title>
    <link rel="stylesheet" href="../_common/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../_common/css/common.css">
    <link rel="stylesheet" href="../_common/css/style.css">
</head>

<body>
<div class="header">
    <div class="navbar navbar-default">    <!--navbar-fixed-top-->
        <div class="container rebuild">
            <div class="navbar-header">
                <img src="../_common/images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="find-π.html">发现派装</a></li>
                    <li><a href="full-suit.html">精致的一致全包套装</a></li>
                    <li  class="active"><a href="select-foreman.html">找工长</a></li>
                    <li><a href="find-designer.html">找设计师</a></li>
                    <li><a href="inspiration-img.html">灵感图片</a></li>
                </ul>
                <div class="pull-right login-register">
                    <a href="#" class="login-btn" id="login-btn">登录/注册</a>
                    <div class="alert-login" id="alert-login">
                        <ul>
                            <li class="icon-small1"><a>个人中心</a></li>
                            <li class="icon-small2"><a>我的订单</a></li>
                            <li class="icon-small3"><a>我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layer-sections">
    <div class="container rebuild clearfix">
        <div class="fixed-nav">
            <div class="text-center my-pic-info">
                <img src="images/my-pic.jpg" class="img-circle">
                <p>kenll Bhavsar</p>
            </div>
            <ul>
                <li><a  href="#">我的主页</a></li>
                <li><a class="active" href="#">我的收藏</a></li>
            </ul>
        </div>
        <div class="fixed-content">
            <div class="my-inspiration-img">
                <h3>我收藏的灵感图</h3>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="images/inspiration-img1.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img2.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img3.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img4.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img2.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img1.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img4.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img3.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img3.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img2.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img1.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img4.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img4.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img3.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img2.png">
                    </div>
                    <div class="col-lg-3">
                        <img src="images/inspiration-img1.png">
                    </div>
                </div>
                <nav class="text-center">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </nav>
            </div>
            <div class="my-foreman">
                <h3>我收藏的工长</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="foreman-list">
                            <div class="foreman-pic">
                                <img src="images/man-pic1.jpg">
                            </div>
                            <div class="foreman-info">
                                <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                                <div class="clearfix text-center">
                                    <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                    <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                                </div>
                                <div class="info-details clearfix">
                                    <dl>
                                        <dd><span class="icon005">66积分</span></dd>
                                        <dd><span class="icon003">认证辅材</span></dd>
                                    </dl>
                                    <dl>
                                        <dd><span class="icon002">0增项</span></dd>
                                        <dd><span class="icon004">保证金66万</span></dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>53</dt>
                                        <dd>个工地</dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>163</dt>
                                        <dd>人预约过</dd>
                                    </dl>
                                </div>
                                <div class="foreman-text">
                                    2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                                </div>

                            </div>
                            <div class="foreman-house-pics clearfix">
                                <img src="images/foreman-house-pic1.png" class="first">
                                <img src="images/foreman-house-pic2.png">
                                <img src="images/foreman-house-pic3.png">
                            </div>
                            <div class="foreman-list-button">
                                <button class="button">立即预约</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="foreman-list">
                            <div class="foreman-pic">
                                <img src="images/man-pic2.jpg">
                            </div>
                            <div class="foreman-info">
                                <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                                <div class="clearfix text-center">
                                    <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                    <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                                </div>
                                <div class="info-details clearfix">
                                    <dl>
                                        <dd><span class="icon005">66积分</span></dd>
                                        <dd><span class="icon003">认证辅材</span></dd>
                                    </dl>
                                    <dl>
                                        <dd><span class="icon002">0增项</span></dd>
                                        <dd><span class="icon004">保证金66万</span></dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>53</dt>
                                        <dd>个工地</dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>163</dt>
                                        <dd>人预约过</dd>
                                    </dl>
                                </div>
                                <div class="foreman-text">
                                    2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                                </div>

                            </div>
                            <div class="foreman-house-pics clearfix">
                                <img src="images/foreman-house-pic1.png" class="first">
                                <img src="images/foreman-house-pic2.png">
                                <img src="images/foreman-house-pic3.png">
                            </div>
                            <div class="foreman-list-button">
                                <button class="button">立即预约</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="foreman-list">
                            <div class="foreman-pic">
                                <img src="images/man-pic1.jpg">
                            </div>
                            <div class="foreman-info">
                                <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                                <div class="clearfix text-center">
                                    <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                    <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                                </div>
                                <div class="info-details clearfix">
                                    <dl>
                                        <dd><span class="icon005">66积分</span></dd>
                                        <dd><span class="icon003">认证辅材</span></dd>
                                    </dl>
                                    <dl>
                                        <dd><span class="icon002">0增项</span></dd>
                                        <dd><span class="icon004">保证金66万</span></dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>53</dt>
                                        <dd>个工地</dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>163</dt>
                                        <dd>人预约过</dd>
                                    </dl>
                                </div>
                                <div class="foreman-text">
                                    2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                                </div>

                            </div>
                            <div class="foreman-house-pics clearfix">
                                <img src="images/foreman-house-pic1.png" class="first">
                                <img src="images/foreman-house-pic2.png">
                                <img src="images/foreman-house-pic3.png">
                            </div>
                            <div class="foreman-list-button">
                                <button class="button">立即预约</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="foreman-list">
                            <div class="foreman-pic">
                                <img src="images/man-pic2.jpg">
                            </div>
                            <div class="foreman-info">
                                <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                                <div class="clearfix text-center">
                                    <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                    <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                                </div>
                                <div class="info-details clearfix">
                                    <dl>
                                        <dd><span class="icon005">66积分</span></dd>
                                        <dd><span class="icon003">认证辅材</span></dd>
                                    </dl>
                                    <dl>
                                        <dd><span class="icon002">0增项</span></dd>
                                        <dd><span class="icon004">保证金66万</span></dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>53</dt>
                                        <dd>个工地</dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>163</dt>
                                        <dd>人预约过</dd>
                                    </dl>
                                </div>
                                <div class="foreman-text">
                                    2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                                </div>

                            </div>
                            <div class="foreman-house-pics clearfix">
                                <img src="images/foreman-house-pic1.png" class="first">
                                <img src="images/foreman-house-pic2.png">
                                <img src="images/foreman-house-pic3.png">
                            </div>
                            <div class="foreman-list-button">
                                <button class="button">立即预约</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="foreman-list">
                            <div class="foreman-pic">
                                <img src="images/man-pic1.jpg">
                            </div>
                            <div class="foreman-info">
                                <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                                <div class="clearfix text-center">
                                    <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                    <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                                </div>
                                <div class="info-details clearfix">
                                    <dl>
                                        <dd><span class="icon005">66积分</span></dd>
                                        <dd><span class="icon003">认证辅材</span></dd>
                                    </dl>
                                    <dl>
                                        <dd><span class="icon002">0增项</span></dd>
                                        <dd><span class="icon004">保证金66万</span></dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>53</dt>
                                        <dd>个工地</dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>163</dt>
                                        <dd>人预约过</dd>
                                    </dl>
                                </div>
                                <div class="foreman-text">
                                    2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                                </div>

                            </div>
                            <div class="foreman-house-pics clearfix">
                                <img src="images/foreman-house-pic1.png" class="first">
                                <img src="images/foreman-house-pic2.png">
                                <img src="images/foreman-house-pic3.png">
                            </div>
                            <div class="foreman-list-button">
                                <button class="button">立即预约</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="foreman-list">
                            <div class="foreman-pic">
                                <img src="images/man-pic2.jpg">
                            </div>
                            <div class="foreman-info">
                                <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                                <div class="clearfix text-center">
                                    <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                    <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                                </div>
                                <div class="info-details clearfix">
                                    <dl>
                                        <dd><span class="icon005">66积分</span></dd>
                                        <dd><span class="icon003">认证辅材</span></dd>
                                    </dl>
                                    <dl>
                                        <dd><span class="icon002">0增项</span></dd>
                                        <dd><span class="icon004">保证金66万</span></dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>53</dt>
                                        <dd>个工地</dd>
                                    </dl>
                                    <dl class="dl-width">
                                        <dt>163</dt>
                                        <dd>人预约过</dd>
                                    </dl>
                                </div>
                                <div class="foreman-text">
                                    2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                                </div>

                            </div>
                            <div class="foreman-house-pics clearfix">
                                <img src="images/foreman-house-pic1.png" class="first">
                                <img src="images/foreman-house-pic2.png">
                                <img src="images/foreman-house-pic3.png">
                            </div>
                            <div class="foreman-list-button">
                                <button class="button">立即预约</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="navbar navbar-inverse">    <!---navbar-fixed-bottom-->
        <div class="container rebuild">
            <div class="row show-grid">
                <div class="col-lg-8">
                    <div class="footer—logo pull-left">
                        <img src="../_common/images/footer-logo.png">
                    </div>
                    <div class="footer-tips pull-left">
                        <p class="first-tips"><a>了解我们</a><a>加入我们</a><a class="last">样板间用户招募</a></p>
                        <p class="second-tips"><i>北京派装科技有限公司</i><label>地址：</label><span>北京市北苑东路中国铁建广场Ｄ座５层</span></p>
                        <p class="third-tips"><label>电话：</label><span>010-53565632</span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../_common/images/info.png" class="info-qrcode">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../_common/scripts/jquery.js"></script>
<script src="../_common/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../_common/scripts/common.js"></script>
</body>

</html>