<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号登录</title>
    <link rel="stylesheet" href="../_common/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../_common/css/common.css">
    <link rel="stylesheet" href="../_common/css/style.css">
</head>

<body>
<div class="header">
    <div class="navbar navbar-default">    <!--navbar-fixed-top-->
        <div class="container rebuild">
            <div class="navbar-header">
                <img src="../_common/images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="find-π.html">发现派装</a></li>
                    <li><a href="full-suit.html">精致的一致全包套装</a></li>
                    <li  class="active"><a href="select-foreman.html">找工长</a></li>
                    <li><a href="find-designer.html">找设计师</a></li>
                    <li><a href="inspiration-img.html">灵感图片</a></li>
                </ul>
                <div class="pull-right login-register">
                    <a href="#" class="login-btn" id="login-btn">登录/注册</a>
                    <div class="alert-login" id="alert-login">
                        <ul>
                            <li class="icon-small1"><a>个人中心</a></li>
                            <li class="icon-small2"><a>我的订单</a></li>
                            <li class="icon-small3"><a>我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layer-sections">
    <div class="container rebuild clearfix">
        <div class="fixed-nav">
            <div class="text-center my-pic-info">
                <img src="images/my-pic.jpg" class="img-circle">
                <p>kenll Bhavsar</p>
            </div>
            <ul>
                <li><a class="active"  href="#">我的主页</a></li>
                <li><a href="#"  class="li-collection">我的收藏</a></li>
            </ul>
        </div>
        <div class="fixed-content">
            <h2>我的装修项目</h2>
            <div class="my-decoration-head mt10">
                <div class="decoration-head-pic">
                    <img src="../_common/images/nopic.png">
                </div>
                <div class="decoration-head-info">
                   <div class="head-info-up clearfix">
                       <div class="col-lg-4"><label>北京</label></div>
                       <div class="col-lg-4"><span>户型:暂未提供</span></div>
                       <div class="col-lg-4"><i>创建时间：2016年7月11日</i></div>
                   </div>
                   <div class="head-info-down">
                       <span>All In One一价全包套餐</span>
                   </div>
                </div>
                <div class="decoration-head-btn">
                    <span>展开</span>
                </div>
            </div>

            <div  class="fixed-content-info">
                <div class="my-decoration-head blue-mode">
                    <div class="decoration-head-pic">
                        <img src="../_common/images/nopic.png">
                    </div>
                    <div class="decoration-head-info">
                        <div class="head-info-up clearfix">
                            <div class="col-lg-4"><label>北京</label></div>
                            <div class="col-lg-4"><span>户型:暂未提供</span></div>
                            <div class="col-lg-4"><i>创建时间：2016年7月11日</i></div>
                        </div>
                        <div class="head-info-down">
                            <span>All In One一价全包套餐</span>
                        </div>
                    </div>
                    <div class="decoration-head-btn">
                        <span>展开</span>
                    </div>
                </div>
                <div class="my-decoration-info">
                    <h4>我的装修信息<button class="button">修改</button></h4>
                    <form class="form-inline">
                        <select class="form-control">
                            <option>客厅1(30㎡)</option>
                            <option>客厅2(30㎡)</option>
                            <option>客厅3(30㎡)</option>
                        </select>
                        <select class="form-control">
                            <option>卧室1(18㎡)</option>
                            <option>卧室1(18㎡)</option>
                            <option>卧室1(18㎡)</option>
                        </select>
                        <select class="form-control">
                            <option>厨房1(9㎡)</option>
                            <option>厨房1(9㎡)</option>
                            <option>厨房1(9㎡)</option>
                        </select>
                        <select class="form-control">
                            <option>卫生间1(9㎡)</option>
                            <option>卫生间1(9㎡)</option>
                            <option>卫生间1(9㎡)</option>
                        </select>
                        <select class="form-control">
                            <option>水电</option>
                            <option>水电</option>
                            <option>水电</option>
                        </select>
                        <select class="form-control">
                            <option>其他</option>
                            <option>其他</option>
                            <option>其他</option>
                        </select>
                    </form>
                </div>
                <div class="my-decoration-team">
                    <h4>我的装修团队</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-foreman team-section">
                                <div class="team-head">
                                    <label>工长</label>
                                    <button class="button">选工长</button>
                                </div>
                                <div class="team-content">
                                    <img src="../_common/images/no-headpic.png" class="img-circle">
                                    <span>您尚未选定工长</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-designer team-section">
                                <div class="team-head">
                                    <label>设计师</label>
                                </div>
                                <div class="team-content">
                                    <img src="../_common/images/no-headpic.png" class="img-circle">
                                    <span>您尚未选定设计师</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-surveyor team-section">
                                <div class="team-head">
                                    <label>监理</label>
                                </div>
                                <div class="team-content">
                                    <img src="../_common/images/no-headpic.png" class="img-circle">
                                    <span>请等待派装</span>
                                    <!--<em>为您分配监理DO</em>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-project-process clearfix">
                    <div class="project-process-nav pull-left" id="project-process-nav">
                        <ul>
                            <li><a href="#quote" class="icon-quote">报价单</a></li>
                            <li><a href="#pay-schedule" class="icon-pay-schedule">支付进度</a></li>
                            <li><a href="#design-schedule" class="icon-design-schedule">设计进度</a></li>
                            <li><a href="#project-schedule" class="icon-project-schedule">工程进度</a></li>
                        </ul>
                    </div>
                    <div class="project-process-con pull-left" id="project-process-con">
                        <div id="quote"></div>
                        <div id="pay-schedule">
                            <h3>支付进度</h3>
                            <div class="pay-schedule-con">
                                <p class="project-text-lg">工程款支付方式：</p>
                                <p class="project-text-lg">3-3-3-1平台托管支付：</p>
                                <p class="project-text-sm mt10 text-indent">即签约后 3 日内，甲方将第一笔总价 30% 的款项支付给平台方，由平台托管以 监督后期工程；水电改造验收通过后３日内，甲方将第二笔总价 30% 的款项支付给乙方；泥木验收通过 后３日内，甲方将第三笔总价 30% 的款项支付给乙方；油工验收通过后３日内，甲方将第四笔总价 10% 的款项支付给乙方；竣工验收通过后30日内，平台方将托管的 30% 款项支付给乙方</p>
                                <p class="project-text-lg color-blue">工程总价：<span>56000</span>   已付总额：<span>50000</span></p>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>工程节点</th>
                                        <th>甲方（房主）</th>
                                        <th>平台方（托管）</th>
                                        <th>乙方（施工）</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>签收后(3日内)</td>
                                        <td>30%</td>
                                        <td>30%</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>水电验收通过(3日内)</td>
                                        <td>30%</td>
                                        <td>/</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>泥木验收通过(3日内)</td>
                                        <td>30%</td>
                                        <td>/</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>油工验收通过(3日内)</td>
                                        <td>10%</td>
                                        <td>/</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>竣工验收通过(3日内)</td>
                                        <td></td>
                                        <td>0%</td>
                                        <td>30%</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p  class="project-text-sm">备注：超出合同预算的水电改造款，以及各节点中，经甲方确认的变更增项费用，在各节点验收通过后， 甲方应向乙方立即结清。</p>
                                <div class="pay-ratio">
                                    <div class="line"></div>
                                    <div class="pay-ratio-text">
                                        <span class="pay-ratio01">签收后30%</span>
                                        <span class="pay-ratio02">水电验收后30%</span>
                                        <span class="pay-ratio03"> 泥土验收后30%</span>
                                        <span class="pay-ratio04">油工验收后30%</span>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div id="design-schedule" class="design-schedule">
                            <h3>设计进度</h3>
                            <div class="design-ratio">
                                <div class="line"></div>
                                <div class="design-ratio-text">
                                    <span class="design-ratio01">预约</span>
                                    <span class="design-ratio02">支付</span>
                                    <span class="design-ratio03">量房</span>
                                    <span class="design-ratio04">出方案</span>
                                </div>
                            </div>
                        </div>
                        <div id="project-schedule"  class="project-schedule">
                            <h3>工程进度</h3>
                            <div class="project-ratio">
                                <div class="project-ratio-con">
                                    <ul>
                                        <li>
                                            <img src="../_common/images/project-ratio01.png">
                                            <div class="li-wrap">
                                                <div class="li-inner">
                                                    <div class="col-lg-7">
                                                        <h4>拆除工程</h4>
                                                        <p>报告时间：2016-06-09     家装顾问:吴文成</p>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="mt15 dis-inlblock">施工质量:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                        <div class="dis-inlblock">服务态度:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                        <span class="small-arrow"></span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>标号</th>
                                                            <th>分类</th>
                                                            <th>描述</th>
                                                            <th>合格</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>油1</td>
                                                            <td>基层处理</td>
                                                            <td>墙面水平找平起伏少于5mm</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油2</td>
                                                            <td>基层处理</td>
                                                            <td>基层处理无空鼓、裂纹、大起伏坑洼、起沙</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油3</td>
                                                            <td>基层处理</td>
                                                            <td>墙面基层满刷墙锢处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油4</td>
                                                            <td>基层处理</td>
                                                            <td>板缝、施工洞、墙顶阴角、墙面开槽处贴布或接缝带处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油5</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线须与墙身粘结牢固，与墙身天花无裂缝</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油6</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线安装水平度误差小于2MM，5M长度验收</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油7</td>
                                                            <td>石膏线安装</td>
                                                            <td>阴阳角接缝棱角清晰，无掉角、烂角现象</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油8</td>
                                                            <td>石膏线安装</td>
                                                            <td>耐水腻子/普通腻子两至三遍找平，后一道腻子须前一道腻子干透</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                       <li>
                                            <img src="../_common/images/project-ratio02.png">
                                            <div class="li-wrap">
                                                <div class="li-inner">
                                            <div class="col-lg-7">
                                                <h4>水电工程</h4>
                                                <p>报告时间：2016-06-09     家装顾问:吴文成</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mt15 dis-inlblock">施工质量:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <div class="dis-inlblock">服务态度:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <span class="small-arrow"></span>
                                            </div>
                                                <div class="clearfix"></div>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>标号</th>
                                                            <th>分类</th>
                                                            <th>描述</th>
                                                            <th>合格</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>油1</td>
                                                            <td>基层处理</td>
                                                            <td>墙面水平找平起伏少于5mm</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油2</td>
                                                            <td>基层处理</td>
                                                            <td>基层处理无空鼓、裂纹、大起伏坑洼、起沙</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油3</td>
                                                            <td>基层处理</td>
                                                            <td>墙面基层满刷墙锢处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油4</td>
                                                            <td>基层处理</td>
                                                            <td>板缝、施工洞、墙顶阴角、墙面开槽处贴布或接缝带处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油5</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线须与墙身粘结牢固，与墙身天花无裂缝</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油6</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线安装水平度误差小于2MM，5M长度验收</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油7</td>
                                                            <td>石膏线安装</td>
                                                            <td>阴阳角接缝棱角清晰，无掉角、烂角现象</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油8</td>
                                                            <td>石膏线安装</td>
                                                            <td>耐水腻子/普通腻子两至三遍找平，后一道腻子须前一道腻子干透</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="../_common/images/project-ratio03.png">
                                            <div class="li-wrap">
                                                <div class="li-inner">
                                            <div class="col-lg-7">
                                                <h4>泥瓦工工程</h4>
                                                <p>报告时间：2016-06-09     家装顾问:吴文成</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mt15 dis-inlblock">施工质量:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <div class="dis-inlblock">服务态度:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <span class="small-arrow"></span>
                                            </div>
                                                <div class="clearfix"></div>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>标号</th>
                                                            <th>分类</th>
                                                            <th>描述</th>
                                                            <th>合格</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>油1</td>
                                                            <td>基层处理</td>
                                                            <td>墙面水平找平起伏少于5mm</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油2</td>
                                                            <td>基层处理</td>
                                                            <td>基层处理无空鼓、裂纹、大起伏坑洼、起沙</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油3</td>
                                                            <td>基层处理</td>
                                                            <td>墙面基层满刷墙锢处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油4</td>
                                                            <td>基层处理</td>
                                                            <td>板缝、施工洞、墙顶阴角、墙面开槽处贴布或接缝带处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油5</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线须与墙身粘结牢固，与墙身天花无裂缝</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油6</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线安装水平度误差小于2MM，5M长度验收</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油7</td>
                                                            <td>石膏线安装</td>
                                                            <td>阴阳角接缝棱角清晰，无掉角、烂角现象</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油8</td>
                                                            <td>石膏线安装</td>
                                                            <td>耐水腻子/普通腻子两至三遍找平，后一道腻子须前一道腻子干透</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                            </div>
                                        </li>
                                        <li  class="active">
                                            <img src="../_common/images/project-ratio04.png">
                                            <div class="li-wrap">
                                                <div class="li-inner">
                                            <div class="col-lg-7">
                                                <h4>油漆工程</h4>
                                                <p>报告时间：2016-06-09     家装顾问:吴文成</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mt15 dis-inlblock">施工质量:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <div class="dis-inlblock">服务态度:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <span class="small-arrow"></span>
                                            </div>
                                                <div class="clearfix"></div>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>标号</th>
                                                            <th>分类</th>
                                                            <th>描述</th>
                                                            <th>合格</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>油1</td>
                                                            <td>基层处理</td>
                                                            <td>墙面水平找平起伏少于5mm</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油2</td>
                                                            <td>基层处理</td>
                                                            <td>基层处理无空鼓、裂纹、大起伏坑洼、起沙</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油3</td>
                                                            <td>基层处理</td>
                                                            <td>墙面基层满刷墙锢处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油4</td>
                                                            <td>基层处理</td>
                                                            <td>板缝、施工洞、墙顶阴角、墙面开槽处贴布或接缝带处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油5</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线须与墙身粘结牢固，与墙身天花无裂缝</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油6</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线安装水平度误差小于2MM，5M长度验收</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油7</td>
                                                            <td>石膏线安装</td>
                                                            <td>阴阳角接缝棱角清晰，无掉角、烂角现象</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油8</td>
                                                            <td>石膏线安装</td>
                                                            <td>耐水腻子/普通腻子两至三遍找平，后一道腻子须前一道腻子干透</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                            </div>
                                        </li>
                                        <li class="last">
                                            <img src="../_common/images/project-ratio05.png">
                                            <div class="li-wrap">
                                                <div class="li-inner">
                                            <div class="col-lg-7">
                                                <h4>安装竣工</h4>
                                                <p>报告时间：2016-06-09     家装顾问:吴文成</p>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mt15 dis-inlblock">施工质量:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <div class="dis-inlblock">服务态度:<label class="small-star"><span></span><span></span><span></span><span></span><span></span></label>5.0星</div>
                                                <span class="small-arrow"></span>
                                            </div>
                                                <div class="clearfix"></div>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>标号</th>
                                                            <th>分类</th>
                                                            <th>描述</th>
                                                            <th>合格</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>油1</td>
                                                            <td>基层处理</td>
                                                            <td>墙面水平找平起伏少于5mm</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油2</td>
                                                            <td>基层处理</td>
                                                            <td>基层处理无空鼓、裂纹、大起伏坑洼、起沙</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油3</td>
                                                            <td>基层处理</td>
                                                            <td>墙面基层满刷墙锢处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油4</td>
                                                            <td>基层处理</td>
                                                            <td>板缝、施工洞、墙顶阴角、墙面开槽处贴布或接缝带处理</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油5</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线须与墙身粘结牢固，与墙身天花无裂缝</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油6</td>
                                                            <td>石膏线安装</td>
                                                            <td>石膏线安装水平度误差小于2MM，5M长度验收</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油7</td>
                                                            <td>石膏线安装</td>
                                                            <td>阴阳角接缝棱角清晰，无掉角、烂角现象</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>油8</td>
                                                            <td>石膏线安装</td>
                                                            <td>耐水腻子/普通腻子两至三遍找平，后一道腻子须前一道腻子干透</td>
                                                            <td><span class="qualified"></span></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="navbar navbar-inverse">    <!---navbar-fixed-bottom-->
        <div class="container rebuild">
            <div class="row show-grid">
                <div class="col-lg-8">
                    <div class="footer—logo pull-left">
                        <img src="../_common/images/footer-logo.png">
                    </div>
                    <div class="footer-tips pull-left">
                        <p class="first-tips"><a>了解我们</a><a>加入我们</a><a class="last">样板间用户招募</a></p>
                        <p class="second-tips"><i>北京派装科技有限公司</i><label>地址：</label><span>北京市北苑东路中国铁建广场Ｄ座５层</span></p>
                        <p class="third-tips"><label>电话：</label><span>010-53565632</span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../_common/images/info.png" class="info-qrcode">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../_common/scripts/jquery.js"></script>
<script src="../_common/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../_common/scripts/common.js"></script>
<script>
    $(function(){
        $("#project-process-nav").css("height",$("#project-process-con").height()+"px");
    })
</script>
</body>

</html>