<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号登录</title>
    <link rel="stylesheet" href="../_common/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../_common/css/common.css">
    <link rel="stylesheet" href="../_common/css/style.css">
</head>

<body>
<div class="header">
    <div class="navbar navbar-default">    <!--navbar-fixed-top-->
        <div class="container rebuild">
            <div class="navbar-header">
                <img src="../_common/images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="find-π.html">发现派装</a></li>
                    <li><a href="full-suit.html">精致的一致全包套装</a></li>
                    <li  class="active"><a href="select-foreman.html">找工长</a></li>
                    <li><a href="find-designer.html">找设计师</a></li>
                    <li><a href="inspiration-img.html">灵感图片</a></li>
                </ul>
                <div class="pull-right login-register">
                    <a href="#" class="login-btn" id="login-btn">登录/注册</a>
                    <div class="alert-login" id="alert-login">
                        <ul>
                            <li class="icon-small1"><a>个人中心</a></li>
                            <li class="icon-small2"><a>我的订单</a></li>
                            <li class="icon-small3"><a>我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foreman-banner">
    <div class="foreman-layer"></div>
    <div class="foreman-wrap">
        <div class="banner-layer layer"></div>
        <div class="container rebuild">
            <div class="col-lg-8">
                <p class="text-lg">匠人的“匠心”在于</p>
                <p class="text-sm">坚持 / 专注 / 谦恭 / 自省 / 敬畏 / 入魂</p>
                <p class="text-red">FIND PROFESSIONALS</p>
                <p class="text-xs">从工艺标准到数据支撑，我们毫厘必争</p>
                <p class="text-xs">正因为这是指尖上的舞蹈</p>
            </div>
            <div class="col-lg-4">
                <form  class="form-horizontal">
                    <div class="layer"></div>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control"  placeholder="您的称呼">
                        </div>
                        <div class="col-sm-5">
                            <select  class="form-control">
                                <option>先生</option>
                                <option>女士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                        <input type="text" class="form-control"  placeholder="手机号码">
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control"  placeholder="短信验证码">
                        </div>
                        <div class="col-sm-5">
                            <input type="button" class="form-control"  value="获取验证码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="button">预约设计</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="foreman-tips-list">
    <div class="container rebuild">
        <ul class="clearfix">
            <li>
                <img src="../_common/images/icon-foreman1.png">
                <p>预约免费服务</p>
                <span>在线预约 电话预约</span>
            </li>
            <li>
                <img src="../_common/images/icon-foreman2.png">
                <p>挑选工长</p>
                <span>多套装修方案PK</span>
            </li>
            <li>
                <img src="../_common/images/icon-foreman3.png">
                <p>签订装修三方协议</p>
                <span>工长 业主 平台三方协议</span>
            </li>
            <li>
                <img src="../_common/images/icon-foreman4.png">
                <p>装修过过程全监控</p>
                <span>现金监督 工程监督 实时互动</span>
            </li>
            <li>
                <img src="../_common/images/icon-foreman5.png">
                <p>装修售后保障</p>
                <span>基础工程2年、隐蔽工程5年保</span>
            </li>
        </ul>
    </div>
</div>
<div class="foreman-list">
    <div class="container rebuild">
        <h3>金牌工长</h3>
        <p class="title">金牌工长是长期与派装合作的工长。使用认证辅材施工作业，0增项，已完工程客户好评率达100%并已经向平台交纳保证金3万以上</p>
        <div id="myCarousel" class="carousel slide" style="height:800px;">
        <div class="carousel-inner">
            <div class="item active">
                <ul class="clearfix">
                    <li>
                        <div class="foreman-pic">
                            <img src="images/man-pic1.jpg">
                        </div>
                        <div class="foreman-info">
                            <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                            <div class="clearfix text-center">
                                <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                            </div>
                            <div class="info-details clearfix">
                                <dl>
                                    <dd><span class="icon005">66积分</span></dd>
                                    <dd><span class="icon003">认证辅材</span></dd>
                                </dl>
                                <dl>
                                    <dd><span class="icon002">0增项</span></dd>
                                    <dd><span class="icon004">保证金66万</span></dd>
                                </dl>
                                <dl class="dl-width">
                                    <dt>53</dt>
                                    <dd>个工地</dd>
                                </dl>
                                <dl class="dl-width">
                                    <dt>163</dt>
                                    <dd>人预约过</dd>
                                </dl>
                            </div>
                            <div class="foreman-text">
                                2008年来北京继续担任工长，为人实在、服务周到对工作负责精通二首房水电改造，多年来一直深受业主好评。
                            </div>

                        </div>
                        <div class="foreman-house-pics clearfix">
                            <img src="images/foreman-house-pic1.png" class="first">
                            <img src="images/foreman-house-pic2.png">
                            <img src="images/foreman-house-pic3.png">
                        </div>
                        <div class="foreman-list-button">
                            <button class="button">立即预约</button>
                        </div>
                    </li>
                    <li>
                        <div class="foreman-pic">
                            <img src="images/man-pic2.jpg">
                        </div>
                        <div class="foreman-info">
                            <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                            <div class="clearfix text-center">
                                <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                            </div>
                            <div class="info-details clearfix">
                                <dl>
                                    <dd><span class="icon005">66积分</span></dd>
                                    <dd><span class="icon003">认证辅材</span></dd>
                                </dl>
                                <dl>
                                    <dd><span class="icon002">0增项</span></dd>
                                    <dd><span class="icon004">保证金66万</span></dd>
                                </dl>
                                <dl class="dl-width">
                                    <dt>53</dt>
                                    <dd>个工地</dd>
                                </dl>
                                <dl class="dl-width">
                                    <dt>163</dt>
                                    <dd>人预约过</dd>
                                </dl>
                            </div>
                            <div class="foreman-text">
                                2008年来北京继续担任工长，为人实在、服务周到对工作负责精通
                            </div>

                        </div>
                        <div class="foreman-house-pics clearfix">
                            <img src="images/foreman-house-pic1.png" class="first">
                            <img src="images/foreman-house-pic2.png">
                            <img src="images/foreman-house-pic3.png" >
                        </div>
                        <div class="foreman-list-button">
                            <button class="button">立即预约</button>
                        </div>
                    </li>
                    <li>
                        <div class="foreman-pic">
                            <img src="images/man-pic2.jpg">
                        </div>
                        <div class="foreman-info">
                            <p><label class="foreman-name">徐志平</label><i class="foreman-position-default">金牌工长</i></p>
                            <div class="clearfix text-center">
                                <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                                <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                            </div>
                            <div class="info-details clearfix">
                                <dl>
                                    <dd><span class="icon005">66积分</span></dd>
                                    <dd><span class="icon003">认证辅材</span></dd>
                                </dl>
                                <dl>
                                    <dd><span class="icon002">0增项</span></dd>
                                    <dd><span class="icon004">保证金66万</span></dd>
                                </dl>
                                <dl class="dl-width">
                                    <dt>53</dt>
                                    <dd>个工地</dd>
                                </dl>
                                <dl class="dl-width">
                                    <dt>163</dt>
                                    <dd>人预约过</dd>
                                </dl>
                            </div>
                            <div class="foreman-text">
                                业主与檀朝栋工长熟悉后，爱开玩笑叫他弥勒佛檀工长挺喜欢这个“外号”。与他相处没啥烦恼事，业主找檀工长装修从来不用费心。
                            </div>

                        </div>
                        <div class="foreman-house-pics clearfix">
                            <img src="images/foreman-house-pic1.png" class="first">
                            <img src="images/foreman-house-pic2.png">
                            <img src="images/foreman-house-pic3.png">
                        </div>
                        <div class="foreman-list-button">
                            <button class="button">立即预约</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul class="clearfix">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="item">
                <ul class="clearfix">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="carousel-button">
            <a class="" href="#myCarousel"
               data-slide="prev">
                <img src="../_common/images/arrow-small-left.png">
            </a>
            <span>换一组看看</span>
            <a class="" href="#myCarousel"
               data-slide="next">
                <img src="../_common/images/arrow-small-right.png">
            </a>
        </div>
    </div>
    </div>
</div>
<div class="foreman-pageing-list">
    <div class="container rebuild">
        <h3>平台工长</h3>
        <div class="small-title">
            <p>任何工长可以通过初级认证加入派装平台承揽工程。</p>
            <p>当然，工程同样需要通过派装严苛的4阶段160余项工程检测才可以交付。</p>
        </div>
        <ul>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>
            <li>
                <div class="col-lg-5">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-7">
                    <img src="images/foreman-house-pic1.png">
                    <img src="images/foreman-house-pic2.png">
                    <img src="images/foreman-house-pic3.png">
                    <button>立即预约</button>
                </div>
            </li>

        </ul>
        <nav class="text-center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="flow-chart">
   <div class="container">
       <h3>施工流程</h3>
       <img src="images/flow-chart.png">
   </div>
</div>
<div class="six-advantages">
    <div class="container rebuild">
        <h3>在派装找工长的6大优势</h3>
        <p>还去装修公司？Out了，让装修回归本质！</p>
        <div class="row">
            <div class="col-lg-4">
                <img src="../_common/images/advantage01.png">
                <div class="advantage-detail">
                    <p>严格工长筛选</p>
                    <span>依托完备的考核与管理体系</span>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../_common/images/advantage02.png">
                <div class="advantage-detail">
                    <p>工长任你选</p>
                    <span>预约多位工长上门量房报价，与谁合作完全取决于房主的选择。</span>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../_common/images/advantage03.png">
                <div class="advantage-detail">
                    <p>施工费节省30%</p>
                    <span>砍掉多余环节和层层提成，让装修费用回归本质。</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="../_common/images/advantage04.png">
                <div class="advantage-detail">
                    <p>统一报价规范</p>
                    <span>简化报价单，钱花在哪里让房主一目了然！</span>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../_common/images/advantage05.png">
                <div class="advantage-detail">
                    <p>三方协议，担保交易</p>
                    <span>平台托管资金，各节点房主满意后才打款给工长</span>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../_common/images/advantage06.png">
                <div class="advantage-detail">
                    <p>全程跟踪，直播施工进度</p>
                    <span>获得微信工地主页，工地动态、计划、照片应有尽有！</span>
                </div>
            </div>
        </div>
        <div class="six-main-img">
            <img src="../_common/images/six-main-img.png">
        </div>
    </div>
</div>
<div class="foreman-banner foreman-banner-bottom">
    <div class="foreman-layer"></div>
    <div class="foreman-wrap">
        <div class="banner-layer layer"></div>
        <div class="container rebuild">
            <div class="col-lg-8">
                <div class="text-bg">
                    <p class="text-left">每周严苛的施工工艺培训</p>
                    <p class="text-right">造就了派装标准</p>
                </div>
            </div>
            <div class="col-lg-4">
                <form  class="form-horizontal">
                    <div class="layer"></div>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control"  placeholder="您的称呼">
                        </div>
                        <div class="col-sm-5">
                            <select  class="form-control">
                                <option>先生</option>
                                <option>女士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  placeholder="手机号码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="text" class="form-control"  placeholder="短信验证码">
                        </div>
                        <div class="col-sm-5">
                            <input type="button" class="form-control"  value="获取验证码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="button">预约设计</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="navbar navbar-inverse">    <!---navbar-fixed-bottom-->
        <div class="container rebuild">
            <div class="row show-grid">
                <div class="col-lg-8">
                    <div class="footer—logo pull-left">
                        <img src="../_common/images/footer-logo.png">
                    </div>
                    <div class="footer-tips pull-left">
                        <p class="first-tips"><a>了解我们</a><a>加入我们</a><a class="last">样板间用户招募</a></p>
                        <p class="second-tips"><i>北京派装科技有限公司</i><label>地址：</label><span>北京市北苑东路中国铁建广场Ｄ座５层</span></p>
                        <p class="third-tips"><label>电话：</label><span>010-53565632</span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../_common/images/info.png" class="info-qrcode">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../_common/scripts/jquery.js"></script>
<script src="../_common/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../_common/scripts/common.js"></script>
</body>

</html>