<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号登录</title>
    <link rel="stylesheet" href="../_common/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../_common/css/common.css">
    <link rel="stylesheet" href="../_common/css/style.css">
</head>

<body>
<div class="header">
    <div class="navbar navbar-default">    <!--navbar-fixed-top-->
        <div class="container rebuild">
            <div class="navbar-header">
                <img src="../_common/images/logo.png">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../../index.html">首页</a></li>
                    <li><a href="find-π.html">发现派装</a></li>
                    <li><a href="#">精致的一致全包套装</a></li>
                    <li  class="active"><a href="select-foreman.html">找工长</a></li>
                    <li><a href="find-designer.html">找设计师</a></li>
                    <li><a href="inspiration-img.html">灵感图片</a></li>
                </ul>
                <div class="pull-right login-register">
                    <a href="#" class="login-btn" id="login-btn">登录/注册</a>
                    <div class="alert-login" id="alert-login">
                        <ul>
                            <li class="icon-small1"><a>个人中心</a></li>
                            <li class="icon-small2"><a>我的订单</a></li>
                            <li class="icon-small3"><a>我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foreman-pageing-list foreman-detail">
    <div class="container rebuild">
        <ul>
            <li>
                <div class="col-lg-10">
                    <a  class="pull-left" href="select-foreman-detail.html"><img src="images/head-pic.png"></a>
                    <div class="pull-left info-pageing">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            <div class="icon-star"><span></span><span></span><span></span><span></span><span></span></div>
                            <strong class="txt-score">5.0</strong><b class="txt-comment-count">7条评论</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005">66积分</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003">认证辅材</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002">0增项</span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004">保证金66万</span></dd>
                            </dl>
                        </div>
                    </div>
                    <span class="line"></span>
                </div>
                <div class="col-lg-2 info-details clearfix">
                        <dl class="dl-width">
                            <dt>53</dt>
                            <dd>个工地</dd>
                        </dl>
                        <dl class="dl-width">
                            <dt>163</dt>
                            <dd>人预约过</dd>
                        </dl>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="layer-sections">
    <div class="container rebuild clearfix">
        <div class="fixed-nav">
            <ul>
                <li><a class="active" href="#home-section">主页</a></li>
                <li><a href="#construct-case-section">施工案例<span>32</span></a></li>
                <li><a href="#customer-comment-section">客户评价<span>16</span></a></li>
            </ul>
            <div class="fixed-foreman-info">
                <div class="media">
                    <a class="media-left media-middle" href="#">
                        <img src="images/head-pic.png" class="img-circle">
                    </a>
                    <div class="media-body">
                        <label class="foreman-name">戎兵</label>
                        <i class="foreman-position-primary">平台工长</i>
                        <div class="clearfix star-info">
                            质量:<strong class="txt-score">4.8</strong>分:1689</b>
                        </div>
                        <div class="info-pageing-details clearfix">
                            <dl>
                                <dd><span class="icon005"></span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon003"></span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon002"></span></dd>
                            </dl>
                            <dl>
                                <dd><span class="icon004"></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="row-media">
                    <div class="col-lg-6 text-center border-right">
                        <h3>577<small>人</small></h3>
                        <p>向他询价</p>
                    </div>
                    <div class="col-lg-6  text-center">
                        <h3>48<small>户</small></h3>
                        <p>找他施工</p>
                    </div>
                    <div class="clearfix"></div>
                    <button class="button">立即预约</button>
                    <p>询价后可在个人中心查看</p>
                </div>
            </div>
        </div>
        <div class="fixed-content">
            <div id="home-section" class="home-section">
                <h3>关于工长</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所在城市</label>
                        <div class="col-sm-10">
                            北京
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所在公司施工经验</label>
                        <div class="col-sm-10">
                            11年
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号码</label>
                        <div class="col-sm-10 ">
                            <span class="icon-lock">询价后可在个人中心查看工长手机</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">工长邮箱</label>
                        <div class="col-sm-10">
                            12312323@qq.com
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">我的自述</label>
                        <div class="col-sm-10">
                            做为一名建筑装饰装修的施工工长，我对自己的工作要求很严格，一切按严格制度和规范来要求自我和项目管理。因为我深知自己工作岗位的特殊性和重要性，本岗位立足一线，并贯彻项目工程施工的始终岗位职务即全面、繁琐，又要有条不紊，规范有序，具有承上启下的职能，对上要接受施工项目经理的领导，完成预期的目标，对下要负责组织引导工人班组，在确保安全的情况下按时、按质、按量、全面地完成任务。岗位要求必须具备，组织协调、动态控制、目标管理、信息反馈的能力，以期实现项目工程、最佳的质量，最低的物耗，最短的工期。现就我如何保质保量完。
                        </div>
                    </div>
                </form>
            </div>
            <div id="construct-case-section" class="construct-section">
                <h3>施工案例</h3>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#all" data-toggle="tab">全部工地</a></li>
                    <li><a href="#constructing" data-toggle="tab">在施工地</a></li>
                    <li><a href="#constructed" data-toggle="tab">竣工工地</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="all">
                        <!--<p>全部工地</p>-->
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img  src="images/construt-example02.png">
                                    <div class="caption">
                                        <h3>住总万科城<small>4室2厅1厨2卫 165㎡</small></h3>
                                        <p><span class="view">1672</span><span class="comment-good">4</span></p>
                                        <div class="txt-btn-section">
                                            <div class="text-center">质量:<span class="star-num">4.9星</span> 服务:<span class="star-num">4.9星</span></div>
                                            <ul>
                                                <li>
                                                    <p><small>11/11</small></p>
                                                    <p><span>验收报告</span></p>
                                                </li>
                                                <li>
                                                    <p><small>15</small></p>
                                                    <p><span>设计图</span></p>
                                                </li>
                                                <li>
                                                    <p><small>3</small></p>
                                                    <p><span>装修日记</span></p>
                                                </li>
                                            </ul>
                                            <button class="button-case button">查看案例</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="constructing" style="background-color: yellow;height:600px;color: #FFFFFF;">
                        <p>在施工地</p>
                    </div>
                    <div class="tab-pane fade" id="constructed"  style="background-color: red;height:600px;color: #FFFFFF;">
                        <p>竣工工地</p>
                    </div>
                </div>
            </div>
            <div id="customer-comment-section" class="comment-section">
                <h3>相关评论</h3>
                <ul id="myTab2" class="nav nav-tabs">
                    <li class="active"><a href="#main-comments" data-toggle="tab">业主评论</a></li>
                    <li><a href="#other-comments" data-toggle="tab">其他评论</a></li>
                </ul>
                <div id="myTabContent2" class="tab-content">
                    <div class="tab-pane fade in active" id="main-comments">
                        <div class="media">
                            <a class="media-left media-middle text-center" href="#">
                                <img src="images/comment-headpic.png">
                                <span>杨先生</span>
                            </a>
                            <div class="media-body">
                                <p>项目名称：<em>中关村甲33...</em> <span>户型：3室2厅1厨1卫</span>  <span>房屋面积：120</span></p>
                                <div>
                                    <label class="pull-left">该项目质量:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                    <label class="pull-left">该项目服务:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left media-middle text-center" href="#">
                                <img src="images/comment-headpic.png">
                                <span>杨先生</span>
                            </a>
                            <div class="media-body">
                                <p>项目名称：<em>中关村甲33...</em> <span>户型：3室2厅1厨1卫</span>  <span>房屋面积：120</span></p>
                                <div>
                                    <label class="pull-left">该项目质量:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                    <label class="pull-left">该项目服务:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left media-middle text-center" href="#">
                                <img src="images/comment-headpic.png">
                                <span>杨先生</span>
                            </a>
                            <div class="media-body">
                                <p>项目名称：<em>中关村甲33...</em> <span>户型：3室2厅1厨1卫</span>  <span>房屋面积：120</span></p>
                                <div>
                                    <label class="pull-left">该项目质量:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                    <label class="pull-left">该项目服务:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left media-middle text-center" href="#">
                                <img src="images/comment-headpic.png">
                                <span>杨先生</span>
                            </a>
                            <div class="media-body">
                                <p>项目名称：<em>中关村甲33...</em> <span>户型：3室2厅1厨1卫</span>  <span>房屋面积：120</span></p>
                                <div>
                                    <label class="pull-left">该项目质量:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                    <label class="pull-left">该项目服务:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left media-middle text-center" href="#">
                                <img src="images/comment-headpic.png">
                                <span>杨先生</span>
                            </a>
                            <div class="media-body">
                                <p>项目名称：<em>中关村甲33...</em> <span>户型：3室2厅1厨1卫</span>  <span>房屋面积：120</span></p>
                                <div>
                                    <label class="pull-left">该项目质量:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                    <label class="pull-left">该项目服务:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left media-middle text-center" href="#">
                                <img src="images/comment-headpic.png">
                                <span>杨先生</span>
                            </a>
                            <div class="media-body">
                                <p>项目名称：<em>中关村甲33...</em> <span>户型：3室2厅1厨1卫</span>  <span>房屋面积：120</span></p>
                                <div>
                                    <label class="pull-left">该项目质量:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                    <label class="pull-left">该项目服务:</label>
                                    <div class="icon-star pull-left"><span></span><span></span><span></span><span></span><span></span></div>
                                    <i class="pull-left">5.0</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="other-comments" style="background-color:blue;height:600px;color: #FFFFFF;">
                        <p>其他评论</p>
                    </div>
                </div>
                <button class="button button-more-comment">查看更多业主评论</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="navbar navbar-inverse">    <!---navbar-fixed-bottom-->
        <div class="container rebuild">
            <div class="row show-grid">
                <div class="col-lg-8">
                    <div class="footer—logo pull-left">
                        <img src="../_common/images/footer-logo.png">
                    </div>
                    <div class="footer-tips pull-left">
                        <p class="first-tips"><a>了解我们</a><a>加入我们</a><a class="last">样板间用户招募</a></p>
                        <p class="second-tips"><i>北京派装科技有限公司</i><label>地址：</label><span>北京市北苑东路中国铁建广场Ｄ座５层</span></p>
                        <p class="third-tips"><label>电话：</label><span>010-53565632</span></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="../_common/images/info.png" class="info-qrcode">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../_common/scripts/jquery.js"></script>
<script src="../_common/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../_common/scripts/common.js"></script>
</body>

</html>