body{
	min-width:1200px;
}
.header .navbar{
    margin-bottom: 0 !important;
    border:none!important;
    border-radius:0!important;
}
.img-logo{
    width:160px;
    height:44px;
    margin-top:10px;
}
.header .navbar-default{
    background-color:rgba(0,73,148,.9);
}
.header .navbar-nav>li>a{
    padding-top:25px;
    padding-bottom:25px;
}
.header .navbar-nav{
    margin-left:35px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color:transparent!important;
    color: #ffffff!important;
    border-bottom:2px solid deepskyblue;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff!important;
    font-weight:normal;
    font-size:16px;
}
.slide .carousel-indicators li{
    margin:3px;
}
.slide .carousel-indicators .active{
    margin:2px;
}
.product-service{
    background: linear-gradient(#fff,#e1eeff);
}
.product-service .container{
    background-color: transparent;
    padding-top: 80px;
}
.product-header img,.product-header span{
    vertical-align:middle;
}
.product-header p{
    margin:0;
}
.product-header span{
    display:inline-block;
    padding-left:20px;
}
._2Dxt{
    color: #004994;
    font-size:24px;
}
._31Pa{
    font-size:16px;
    color: #555;
}
.original-section{
    padding:30px 35px;
    opacity:1;
    visibility:visible;
    border:1px solid #e1eeff;
    transition: all .8s;
    background-color:#ffffff;
    text-align: center;
    z-index:10;
}
.original-section hr{
    margin:15px 0 25px;
    border-color:#e1eeff;
}
.product-list{
    padding-top:50px;
    padding-bottom:100px;
}
hr{
    display: block;
    height: 1px;
    border:0;
    border-top:1px solid #ccc;
    padding:0;
    margin:1em 0;
}
.original-detail{
    height:140px;
    position: relative;
}
.original-txt{
    height:105px;
}
.original-txt p._3MBe{
    color: #004994;
    font-size:22px;
    margin-bottom:10px;
}
.original-txt p.xf4S{
    font-size:12px;
    color: #666;
}
.link{
    border:1px solid #004994;
    color: #004994;
    font-size:16px;
    width:150px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#ffffff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    display:block;
    margin:auto;
    text-align: center;
    transition: all .8s;
}
.product-list li:hover .layer-section{
    z-index:100;
    opacity:1;
    transform:scale(1);
}
.product-list li:hover .original-section .link{
    width:366px;
}
.product-list li:hover .original-section{
    opacity:0;
    z-index:9;
    transform:scale(.8);
}
.layer-section{
    opacity:0;
    visibility:visible;
    border-color: #004994;
    background-color:#e1eeff;
    box-shadow:0 0 5px 3px #adc4dd;
    padding:30px 35px;
    transition: all 1.3s;
    -webkit-transition: all 1.3s;
    position:absolute;
    z-index:9;
    top:-35px;
}
.layer-section1{
    left:0;
}
.layer-section2{
    left:-70px;
}
.layer-section3{
    left:-70px;
}
.layer-section4{
    left:-70px;
}
.img-txt-section{
    width:368px;
}
.img-txt-section img{
    vertical-align:middle;
    width:150px;
    height:150px;
    margin-right:25px;
}
.img-txt-section .original-txt{
    display:inline-block;
    vertical-align:middle;
    width:180px;
}
.layer-section hr{
    margin:40px 0;
    border-color: #004994;
}
.layer-list{
    height:170px;
    width:366px;
    position: relative;
}
.layer-list ul{
    padding:0 15px;
    line-height:30px;
    height: 125px;
    margin:0;
}
.layer-list ul li{
    float: left;
    width:112px;
    text-align: left;
    height:30px;
}
.layer-list a.link{
    width:366px;
}
.industry-section{
    padding-top: 80px;
}
.industry-section>ul{
    /*width:176px;*/
    width:19%;
    border-left:2px solid #e1eeff;
    border-right:2px solid #e1eeff;
    display:inline-block;
    float: left;
}
.industry-section>ul li{
    text-align: center;
    font-size:16px;
    transition:all .8s;
    padding:0 20px;
    width:216px;
    height:10px;
    cursor: pointer;
    border-right:2px solid transparent;
    border-left:2px solid transparent;
    /*margin-left:-32px;*/
    margin-left:-22px;
    margin-bottom:46px;
    /*background-color:red;*/
}
.industry-section>ul. li a{
    height:30px;
    line-height:30px;
    display: block;
    color: #555;
}
.industry-section>ul li:hover{
    width:176px;
    border-color: #004994;
    margin-left:-2px;
    margin-bottom:26px;
    height:30px;
    /*background:blue;*/
}
.industry-main{
    margin-left:48px;
    float: left;
    /*width:915px;*/
    width:75%;
}
.industry-main-top{
    padding-bottom:20px;
    position: relative;
    overflow: hidden;
}
.industry-main-center{
    padding:40px 0 30px;
    text-align:left;
}
.industry-main-bottom{
    border:none;
    text-align: left;
    padding-top:42px;
}
.industry-main-top .left-section{
    text-align:left;
    float: left;
    width:500px;
}
._1VIU a{
    width:96px;
    text-align: center;
    cursor: pointer;
    color: #004994;
    font-size:14px;
    text-decoration: none;
    border:1px solid #004994;
    background-color:#fff;
    margin-right: 15px;
    border-radius: 3px;
    display:inline-block;
    padding:3px 0;
}
.industry-main-top img{
    position: absolute;
    right:0;
    bottom:10px;
}
.industry-main>div{
    border-bottom:1px solid #e1eeff;
}
.industry-main-center{
    padding:40px 0 30px;
    text-align: left;
}
._1XoA{
    color: #004994;
    font-size:18px;
    margin-bottom: 20px;
}
.industry-main-center>ul{
    width:600px;
    margin:0;
    padding:0;
    overflow: hidden;
}
.industry-main-center>ul>li{
    padding:10px 0;
    float: left;
    width:170px;
    margin-right:30px;
    font-size:14px;
    color: #555;
}
.industry-main-center>ul>li:before{
    content: '\25CF';
    color: #004994;
    margin-right:14px;
}
.industry-main-bottom{
    border:none!important;
    text-align:left;
    padding-top:42px;
}
._2JAk{
    color: #004994;
    font-size:18px;
    margin-bottom:20px;
}
.industry-case{
    padding-top: 40px;
    padding-bottom: 40px;
}
.company-friends{
    height:388px;
    width:100%;
    background: #1d4db1;
    background: -webkit-gradient(linear,left top,left bottom,from(#1b49a0),to(#2b60c9));
    background: -webkit-linear-gradient(#1b49a0,#2b60c9);
    background: linear-gradient(#1b49a0,#2b60c9);
    color: #ffffff;
    text-align:center;
    padding:80px 0;
    position: relative;
}
.text-imglist-section{
    width:100%;
    position: absolute;
    top:80px;
}
.show-text{
    width:1050px;
    margin:auto;
    margin-bottom: 60px;
    height:60px;
    padding:0 80px;
    line-height:30px;
}
.show-imglist{
    margin:auto;
    width:1190px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    flex-direction:row;
    font-size:14px;
    overflow: hidden;
}
.show-imglist>div{
    position: relative;
    cursor: pointer;
    display:inline-block;
}
.show-imglist>div img{
    border:3px solid #558dfe;
    border-radius: 100%;
    transition:all .6s;
    -webkit-transition: all .6s;
}
.show-imglist>div i{
    transition:all .6s;
    -webkit-transition: all .6s;
    border:8px solid transparent;
    display: block;
    position: absolute;
    right:42%;
    top:-16px;
}
.show-imglist>div p{
    margin:8px 0;
}
.company-trends>div{
    background-color:transparent;
    padding-top:80px;
    padding-bottom: 60px;
}
.company-trends-body{
    overflow: hidden;
    padding-top:40px;
}
._2Kn1{
    display:inline-block;
    width:340px;
    height:450px;
    float: left;
    margin-right:20px;
    text-align:left;
}
._2Kn1 ._325E{
    border:1px solid #e1eeff;
    border-bottom:none;
    padding:30px 20px;
    /*height:175px;*/
    transition:all .6s;
    -webkit-transition:all .6s;
}
._2Kn1 ._325E ._2SLR{
    color: #004994;
    margin-bottom:30px;
}
._2Kn1 ._325E ._2SLR span{
    font-size:18px;
}
._2Kn1 ._325E ._2SLR a{
    font-size:12px;
    float: right;
    text-decoration: none;
}
._2Kn1 ._325E ._1aTX{
    cursor: pointer;
    font-size: 18px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
._2Kn1 ._325E .uri7{
    font-size:12px;
    color: #555;
    margin:15px 0;
}
._2Kn1 ._325E ._9S0u{
    cursor: pointer;
    font-size:14px;
    color: #555;
}
._2Kn1 ._2Y76{
    height:214px;
    width:100%;
    overflow: hidden;
}
._2Kn1 ._2Y76 img{
    transition:all .6s;
    -webkit-transition:all .6s;
}
._2Kn1:hover ._2Y76 img{
    transform:scale(1.4);
}
._2Kn1:hover ._325E {
    border-color: #004a93;
}
._3hTS{
    display: inline-block;
    float: right;
    padding:0;
    margin:0;
}
._3hTS li:not(:last-child){
    margin-bottom: 15px;
}
._3hTS li{
    width:418px;
    height:138px;
    border:1px solid #e1eeff;
}
.footer{
    background-color:#e1eeff;
    color: #ffffff;
}
.footer .container{
    padding-top: 40px;
}
._2CGF{
    overflow: hidden;
    height:185px;
}
._2xt-, ._3bdq{
    float: left;
    width:200px;
}
._36Gw{
    font-size:16px;
    margin:5px 0 20px;
}
.WGXX{
    color:#004994;
}
._1hxB, ._1hxB:active, ._1hxB:visited{
    color: #788ea9;
}
._1nxm{
    display:block;
    padding:5px 0;
    margin:0;
}
._1hxB{
    font-size:14px;
    text-decoration: none;
}
._1QLs{
    float: right;
}
._1zCQ{
    float: right;
    padding:10px 0 10px 70px;
}
._28Px{
    width:90px;
    height:90px;
}
._1Ruf{
    display: block;
    font-size: 14px;
    text-align: center;
    color: #788ea9;
    text-decoration: none;
    margin-top:20px;
}
._3_0k{
    display: inline-block;
    width:1px;
    height:10px;
    background-color:#788ea9;
    padding:0;
    margin:3px 18px;
    vertical-align: bottom;
}
._1Wvn{
    max-width:1200px;
    margin:10px auto 25px;
}
._2BL6{
    padding-right:20px;
}
.n1bV{
    width:100%;
    padding:10px 0;
    background:#092343;
    text-align:center;
}
._3u-Y{
    margin: 0 auto;
    padding:0;
}
._1sUk, ._2mr6{
    padding:2px 10px;
    font-size:12px;
}
._2mr6{
    color: #ffffff;
}
._1sUk, ._1sUk:active, ._1sUk:visited{
    color: #ffffff;
    text-decoration:none;
}
