@charset "UTF-8";
/*首页*/
.navbar {
  /*min-height:81px;*/ }

.div1 {
  background-color: #aeaeae; }

.header .navbar {
  background-color: #fff;
  color: #545454;
  margin-bottom: 0; }

.rebuild.container {
  padding-left: 60px;
  padding-right: 60px; }

.navbar-header img {
  height: 75px;
  margin-top: 5px; }

.navbar-default .navbar-nav li:active a {
  border-bottom: 3px solid #44c0ee;
  background-color: #fff; }
.navbar-default .navbar-nav li a {
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 80px;
  background-color: #fff; }
  .navbar-default .navbar-nav li a:hover {
    background-color: #ffffff; }

.login-register {
  height: 81px;
  line-height: 81px;
  position: relative; }
  .login-register:hover .alert-login {
    opacity: 1; }
  .login-register .login-btn {
    color: #545454;
    font-size: 14px;
    padding-right: 20px;
    display: inline-block;
    background: url("../images/icon-login.png") no-repeat right center;
    background-size: 17px 17px; }

.alert-login {
  width: 196px;
  height: 145px;
  line-height: 20px;
  position: absolute;
  top: 56px;
  left: -90px;
  z-index: 10;
  padding-top: 15px;
  background: url("../images/alert-login-bg.png") no-repeat 0 0;
  opacity: 0; }
  .alert-login li {
    height: 40px;
    line-height: 40px;
    list-style: none;
    margin-left: 20px; }
    .alert-login li a {
      margin-left: 34px;
      border-bottom: 1px solid #bfbdbd;
      display: inline-block;
      width: 130px;
      height: 45px;
      line-height: 45px;
      padding-left: 15px;
      color: #333333; }

.icon-small1 {
  background: url("../images/icon-small1.png") no-repeat left 70%; }

.icon-small2 {
  background: url("../images/icon-small2.png") no-repeat left 70%; }

.icon-small3 {
  background: url("../images/icon-small3.png") no-repeat left 70%; }

.alert-login li.icon-small3 a {
  border-bottom: none; }

.carousel-inner > .item > a > img {
  width: 100%; }

.footer .navbar {
  background-color: #545454;
  height: 198px;
  color: #fff; }

.footer—logo {
  margin-top: 36px; }

.footer-tips {
  /*font-size: 16px;*/
  margin: 59px 0px 0 34px; }
  .footer-tips p {
    color: #fff;
    font-style: normal; }
  .footer-tips i {
    font-style: normal; }
  .footer-tips a.last:after {
    content: ""; }
  .footer-tips a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px; }
    .footer-tips a:after {
      content: "|";
      margin-left: 5px; }

.second-tips {
  margin-top: 15px; }
  .second-tips i {
    margin-right: 10px; }

.third-tips {
  margin-top: 10px; }

.second-tips, .third-tips {
  opacity: .6; }

.carousel-control img {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -42.5px; }

.carousel-inner > .item > img {
  width: 100%;
  height: 500px;
  overflow: hidden; }

.carousel-indicators li, .carousel-indicators .active {
  width: 50px;
  height: 10px;
  border-radius: inherit;
  border: none;
  margin: 0; }

.carousel-indicators li {
  background-color: #666666; }

.carousel-indicators .active {
  background-color: #cccccc; }

.info-qrcode {
  margin: 40px 0 0 25px; }

.text-details h3 {
  font-size: 36px;
  color: #44c0ee;
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 20px; }

.text-details .abstract {
  color: #666;
  margin-left: 20px;
  font-size: 18px;
  position: relative;
  padding: 5px 0; }

.text-details .abstract .button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  top: 0; }

.package-imgs {
  margin: 50px 0 60px 0; }

.package-imgs .layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6; }

.package-imgs .package {
  width: 320px;
  height: 337px;
  /*line-height:337px;*/ }

.layer-img {
  position: relative;
  text-align: center;
  vertical-align: middle; }

.layer-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.layer-text {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  color: #ffffff; }

.layer {
  background-color: #000;
  opacity: .6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.layer-img:hover {
  cursor: pointer; }

.layer-img:hover .layer-text {
  opacity: 1; }

.inner {
  position: relative;
  top: -35%;
  left: -50%; }

.inner p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  /*line-height: 36px;*/ }

.inner .button {
  width: 120px;
  height: 32px;
  line-height: 32px; }

.decor-market {
  height: 720px;
  background: url("../images/decor-market-bg.jpg") no-repeat 0 0;
  background-size: 100% 100%; }

.market-imgs {
  margin: 40px 0 0 5px;
  font-size: 16px; }

.market1, .market2 {
  width: 440px;
  height: 227px;
  overflow: hidden; }

.market2 {
  margin-top: 20px; }

.market3 {
  width: 546px;
  height: 473px;
  margin-left: 20px; }

/*# sourceMappingURL=_index.css.map */
