.regular-radio {
  display: none;
}
.regular-radio + label {
  -webkit-appearance: none;
  background-color: #FFFFFF;
  border: 1px solid rgb(8, 6, 6);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}
.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #22c064;
  /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);*/
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
}
.regular-radio:checked + label {
  background-color: #22c064;
  color: #99a1a7;
  border: 1px solid rgb(8, 6, 6);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.form-lottery{
  line-height:2.25rem;
}
.form-lottery span{
  font-size:.7rem;
  position: relative;
  top: -.15rem;
  right:-.15rem;
  margin-right: 1rem;
}

header{
  position: relative;
  height:3rem;
  line-height:3rem;
  background-color:#1c1c1c;
  text-align:center;
}
header>a,header>span{
  color: #ffffff;
  font-size:.75rem;
}
.header-left{
  position: absolute;
  left:7%;
}
.header-right{
  position: absolute;
  right:7%;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
